services:
  activemq:
    image: apache/activemq-artemis:latest-alpine
    container_name: jms-demo
    ports:
      - "8161:8161"    # Web Console (http://localhost:8161)
      - "61616:61616"  # JMS
    environment:
      ARTEMIS_USER: admin
      ARTEMIS_PASSWORD: admin
      ANONYMOUS_LOGIN: false
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432'
